SWISS_EPHEMERIS_PATH=./ephe
SWISS_EPHEMERIS_DOWNLOAD_BASE_URL=https://raw.githubusercontent.com/aloistr/swisseph/master/ephe
MIRROR_ASTRO_AUTO_DOWNLOAD_EPHEMERIS=true
MIRROR_ASTRO_FALLBACK_TO_MOSHIER=false
MIRROR_ASTROLOGY_SERVICE_TOKEN=
